body {
  background: url('daria-kopylova-700996-unsplash.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
}

.row {
  background: rgba(200, 200, 200, .7);
}

.date {
  font-size: 56px;
  color: white;
  float: left;
}

legend {
  font-size: 2em;
  padding: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.taskTitle, .noteTitle {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

input, textarea, button {
  padding: 5px;
  font-family: inherit;
}

button {
  width: 40px;
  border: 1px solid #aaa;
}

li {
  width: 100%;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.btn-group {
  float: left;
}

.complete-item:hover, .complete-item:focus {
  background: forestgreen;
  color: white;
}

.delete-item:hover, .delete-item:focus {
  background: indianred;
}

.add-item-btn:hover, .add-item-btn:focus {
  background: slategray;
}

.strikethrough {
  color: #666;
  font-style: italic;
  text-decoration: line-through;
}

.attribution {
  position: absolute;
  top: 90%;
  left: 80%;
  padding: 4px;
  background: rgba(200, 200, 200, .5);
}